*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

}



.main{
    
   height: 100vh;

   /*background-image: url(iceland-5104376.jpg); 
   background-size: cover;*/
   background-color:#DEDFE1;
   

}

.main_head{
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    height: 15vh;
    background-color:#616161;
    color: white;
    width: 100%;

}
.main_content{
    
   
    display: flex;
    
    height: 80vh;
    background-color:#DEDFE1;

}

.main_content_name{
    /*border: 5px solid #616161; */
    display: flex;
    justify-content: center;
    margin:20px;
    align-items: center;
    height: 80vh;
    width: 70%;
    background-color:#DEDFE1;
    /*border: 2px solid black;*/
    box-shadow: 20px 20px 50px 15px grey;  
   

}

.insta{
    background-color: #DEDFE1;;
    margin: 0;
    height: 65px;
    border-radius: 100%;
    width: 50%;
    margin-top: 40px;
    box-shadow: 10px 10px 30px 10px grey;  
    transition: .5s;


}

.insta:hover{

    background-color:azure;
    height: 75px;
    width: 60%;
    cursor: pointer;

}
.insta img{

    max-height: 100%;

}



.main_content_side{

    height: 80vh;
    width: 10%;
    background-color:#DEDFE1;
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
}

.main_content_name_2{
    padding-top: 60px;
    
    height: 50vh;
    width: 40%;
    background-color:#DEDFE1;
    
    margin:10px;
}

.main_content_name_1{
     
    height: 40vh;
    width: 30%;
    background-color: #DEDFE1;
}

.main_content_name_1 img{

   height: fit-content;
   border: 5px solid  #616161;
   max-height: 100%;   
    border-radius: 100%;
   
}

.name{

    background-color: #DEDFE1;
    height: 10vh;
}

.name_1{

    background-color: #DEDFE1;
    height: 30vh;
    padding: 40px;
    font-size: 20px;
    
}
.main_content_name_2 mark{

    background-color: #e4e6eb;
}

.main img{

    
    height: 100vh;
    width: 100%;
}




.main_content_name_2 h1{

    font-size: 60px;
}

.main_content_name_2 p{
    padding-left:10px ;
    padding-right: 10px;
    padding-top: 40px;
    font-size: 20px;
}

.main_1{
    
    text-align: center;
  padding-top: 30px;
  font-size: 35px;
  height: 15vh;
  background-color: #616161;
  color: white;
  width: 100%;




}

.skill{
    
   
    
    height: 85vh;
   
     background-color:#DEDFE1;
 
 }

 .skill_technical{

    background-color: #DEDFE1;
    height: 55vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}



 .skill_technical_img{
    
    height: 400px;
    width: 500px;
    background-color: #DEDFE1;
 }

.skill_technical_img1{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    background-color: #DEDFE1;
    cursor: pointer;
}


.skill_technical_img1 img{
   
   transition: .5s;
    height: 70%;
    width: 70%;
   
}

.skill_technical_img1 img:hover{
   
   
    height: 90%;
    width: 90%;
}

.skill_technical_img2{

    text-align: center;
}

.skill_soft{
    
    text-align: center;
  padding-top: 10px;
  font-size: 40px;
    margin-top:10px;
  background-color:#616161;
  color:white;
  width: 100%;




}

.soft_skill{
    display: flex;
    justify-content: center;
    margin-top: 40px;
   

}

.communication{
    text-align: center;
    padding-top:40px ;
    height: 100px;
    width: 150px;
    font-size: 15px;
    color: black;
    
    border-radius: 50%;
    border: 2px solid grey;
    background-color: #DEDFE1;
    box-shadow: 10px 10px 30px 10px grey;  
    transition: 0.5s;
    cursor: pointer;
}

.communication:hover{
    text-decoration: underline;
    height: 150px;
    width: 200px;
    font-size: 25px;
    padding-top:50px ;
    color:rgb(32, 15, 15);
    background-color: azure;

}

.myphoto{
    
   
    
    height: 85vh;
   display: flex;
   align-items: center;
   justify-content: center;
     background-color:#DEDFE1;
 
 }    
 .myphoto1{  

    
    height: 80vh;
    width: 70%;
    
    box-shadow: 10px 10px 30px 10px grey;

    
 }
 .myphotoimg img{

    max-height: 100%;
    width: 100%;
 }

 .myphotoimg{

    height: 400px;
    width: 400px;
 }

 /*@keyframes slider {
     0%{ }
     20%{ }
     40%{ }
     60%{ }
     80%{ }
 }
 */

 .myphoto11{

    height: 26vh;
    background-color: #DEDFE1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}
 
 
 .my{
    background-color: #DEDFE1;
    height: 24vh;
    width: 19vw;
    box-shadow: 10px 10px 30px 10px grey;

 }
 .my img{
    
    max-height: 100%;

 }

 .project{

    background-color: #DEDFE1;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .project_inner{
     margin: 30px;
    height: 40vh;
    width: 70vh;
    background-color: #DEDFE1;

 }

 .project_inner1{

    background-color:#DEDFE1 ;
    text-align: center;
    height: 300px;
 }

.project_inner1 img{

    max-height: 80%;
    max-width: 100%;
    box-shadow: 10px 10px 30px 10px grey;
    background-color:#DEDFE1 ;
    transition: 0.5s;
    border-radius: 50%;
    cursor: pointer;

}

.project_inner1 img:hover{
    max-height: 100%;

}

 .project_inner2{

    background-color:#DEDFE1;
    height: 60x;
    color: black;
    font-size: 50px;
    text-align: center;
 }

 .but{

    height: 100px;
    width: 500px;
    font-size: 50px;
    border-radius: 20px;
    background-color:#DEDFE1 ;
    cursor: pointer;
    transition: ease-out 0.5s;
    
 }

 .but:hover{
   
    width: 550px;
    font-size: 60px;
    background-color: black;
    color: white;
    border: 2px solid white;
    
 }

 .main_5{
    
    text-align: center;
  padding-top: 30px;
  font-size: 35px;
  height: 15vh;
  background-color: #DEDFE1;
  color: white;
  width: 100%;




}